<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body style="height: 100vh !important;">
    <h1><%= title %></h1>

    <%- include('partials/navbar.ejs') %>

    <%- include('partials/ghost.ejs')  %> 
    <%- include('partials/foot.ejs') %>
</body>
</html>